.letter {

        		width:300px; /*resize as you see fit */
        		height:300px; /*resize as you see fit */
        		display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
        		border:1px solid black; /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
        	}

        /* Letter A */
        
        .aBowl {
        height: 150px;
		width: 150px;
		position: absolute;
		border-radius: 100px;
		background: black;
		top: 25px;
		left: 25px;
        }	


        .aStroke {
			height: 170px;
			width: 50px;
			border-radius: 0px;
			top: 103px;
			left: 25px;
			position: absolute;
			background: black;

		}

		.aStroke2 {
			height: 170px;
			width: 50px;
			border-radius: 0px;
			top: 103px;
			left: 125px;
			position: absolute;
			background: black;
		}

		.aCrossbar {
			height: 25px;
			width: 150px;
			top: 150px;
			left: 25px;
			position: absolute;
			background: black;
			z-index: 3;
		}


		.aCounter {
			left: 75px;
			top: 75px;
			width: 50px;
			height: 50px;
			background: white;
			z-index: 2;
			position: absolute;
			background: white;
			border-radius: 80px;
		}

		/* Letter B */

		.bBowl1 {
			height: 150px;
			width: 150px;
			border-radius: 100px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			background: black;
			position: absolute;
			top: 25px;
			left: 25px;
		}

		.bBowl2 {
			height: 150px;
			width: 150px;
			border-radius: 100px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			top: 123px;
			left: 25px;
			background: black;
			position: absolute;

		}

		.bCounter1 {
			height: 50px;
			width: 50px;
			border-radius: 100px;
			top:75px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;

		}

		.bCounter2 {
			height: 50px;
			width: 50px;
			border-radius: 100px;
			top:175px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;

		}

		.cStroke {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-radius: 100px;
			position: absolute;
		}

		.cCounter {
			height: 150px;
			width: 50px;
			background: white;
			left: 75px;
			top: 75px;
			border-radius: 100px;
			position: absolute;

		}

		.cCounter2 {
			left: 125px;
			top: 125px;
			width: 50px;
			height: 50px;
			background: white;
			border-radius: 0px;
			position: absolute;
		}

		.dStroke {
			position: absolute;
			width: 150px;
			height: 250px;
			left: 25px;
			top: 25px;
			border-radius: 0px;
			border-top-right-radius: 65px;
			border-bottom-right-radius: 65px;
			background: black;
		}

		.dCounter {
			height: 150px;
			width: 50px;
			background: white;
			left: 75px;
			top: 75px;
			border-radius: 100px;
			position: absolute;
		}

		.eStroke {
			position: absolute;
			height: 250px;
			width: 150px;
			border-radius: 0px;
			left: 25px;
			top: 25px;
			background: black;
		}

		.eCrossbar {
			position: absolute;
			width: 50px;
			height: 50px;
			left: 75px;
			top: 125px;
			z-index: 2;
			border-radius: 100px;
			background: black;

		}
		
		.eCounter {
			position: absolute;
			left: 75px;
			top: 75px;
			width: 100px;
			height: 150px;
			background: white;
			border-radius: 0px;
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
			z-index: 1;
		}

		.fStroke {
			position: absolute;
			height: 250px;
			width: 150px;
			top: 25px;
			left: 25px;
			background: black;
		}

		.fCounter {
			position: absolute;
			width: 100px;
			height: 200px;
			top: 75px;
			left: 75px;
			background: white;
			border-radius: 0px;
			border-top-left-radius: 30px;
		}

		.fBar {
			position: absolute;
			width: 50px;
			height: 50px;
			left: 75px;
			top: 125px;
			z-index: 2;
			border-radius: 100px;
			background: black;
		}

		.gStroke {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-radius: 100px;
			border-bottom-right-radius: 0px;
			position: absolute;
		}

		.gCounter {
			height: 150px;
			width: 50px;
			background: white;
			left: 75px;
			top: 75px;
			border-radius: 100px;
			position: absolute;

		}

		.gCounter2 {
			left: 125px;
			top: 125px;
			width: 50px;
			height: 50px;
			background: white;
			border-radius: 0px;
			position: absolute;
		}

		.hStroke {
			position: absolute;
			height: 250px;
			width: 150px;
			top: 25px;
			left: 25px;
			border-radius: 0px;
			background: black;
		}

		.hCounter {
			position: absolute;
			height: 250px;
			width: 50px;
			top: 25px;
			left: 75px;
			background-color: white;
			border-radius: 0px;
		}

		.hCrossbar {
			position: absolute;
			width: 50px;
			height: 50px;
			left: 75px;
			top: 125px;
			z-index: 2;
			border-radius: 100px;
			background: black;
		}

		.iStroke {
			position: absolute;
			height: 250px;
			width: 50px;
			top: 25px;
			left: 100px;
			background: black;

		}

		.jStem {
			position: absolute;
			height: 250px;
			width: 150px;
			top: 25px;
			left: 25px;
			border-radius: 0px;
			border-bottom-left-radius: 80px;
			border-bottom-right-radius: 80px;
			background: black;
		}

		.jCounter {
			position: absolute;
			height: 150px;
			width: 50px;
			top: 25px;
			left: 25px;
			border-radius: 0px;
			background: white;
		}

		.jCounter2 {
			position: absolute;
			height: 200px;
			width: 50px;
			top: 25px;
			left: 75px;
			border-radius: 0px;
			border-bottom-left-radius: 65px;
			border-bottom-right-radius: 65px;
			background: white;
		}

		.kStroke1 {
			height: 150px;
			width: 150px;
			border-bottom-right-radius: 80px;
			top: 25px;
			left: 25px;
			background: black;
			position: absolute;
		}

		.kStroke2 {
			height: 150px;
			width: 150px;
			border-top-right-radius: 80px;
			top: 125px;
			left: 25px;
			background: black;
			position: absolute;
		}

		.kCounter1 {
			height:100px;
			width:50px;
			top:25px;
			left:75px;
			border-bottom-right-radius: 30px;
			background: white;
			position: absolute;
		}

		.kCounter2 {
			height:100px;
			width:50px;
			top:175px;
			left:75px;
			border-top-right-radius: 40px;
			background: white;
			position: absolute;
		}

		.lStroke1 {
			height: 250px;
			width: 50px;
			top: 25px;
			left: 25px;
			position: absolute;
			background: black;
		}

		.lStroke2 {
			height: 50px;
			width: 150px;
			top: 225px;
			left: 25px;
			position: absolute;
			background: black;
		}

		.mStroke1 {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.mCounter1 {
			height: 200px;
			width: 50px;
			left: 75px;
			top: 75px;
			background: white;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.mStroke2 {
			height: 250px;
			width: 150px;
			left: 125px;
			top: 25px;
			background: black;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.mCounter2 {
			height: 200px;
			width: 50px;
			left: 175px;
			top: 75px;
			background:white;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.nBowl {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.nCounter {
			height: 200px;
			width: 50px;
			left: 75px;
			top: 75px;
			background: white;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			position: absolute;
		}

		.oStroke {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-radius: 100px;
			position: absolute;
		}

		.oCounter {
			height: 150px;
			width: 50px;
			background: white;
			left: 75px;
			top: 75px;
			border-radius: 100px;
			position: absolute;
		}

		.pBowl {
			height: 150px;
			width: 150px;
			border-radius: 100px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			background: black;
			position: absolute;
			top: 25px;
			left: 25px;
		}

		.pStroke {
			height: 250px;
			width: 50px;
			top: 25px;
			left: 25px;
			background:black;
			position:absolute;
		}

		.pCounter {
			height: 50px;
			width: 50px;
			border-radius: 100px;
			top:75px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;
		}

		.qBowl {
			height: 200px;
			width: 150px;
			border-radius: 70px;
			top: 25px;
			left: 25px;
			position: absolute;
			background: black;
		}

		.qCounter {
			height: 100px;
			width: 50px;
			border-radius: 100px;
			top:75px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;
		}

		.qTail {
			height: 50px;
			width: 100px;
			top: 225px;
			left:75px;
			position: absolute;
			background:black;
		}


		.rBowl {
			height: 150px;
			width: 150px;
			border-radius: 100px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			background: black;
			position: absolute;
			top: 25px;
			left: 25px;
		}

		.rStroke {
			height: 150px;
			width: 150px;
			border-top-right-radius: 80px;
			top: 125px;
			left: 25px;
			background: black;
			position: absolute;
		}

		.rCounter {
			height: 50px;
			width: 50px;
			border-radius: 100px;
			top:75px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;
		}

		.rStrokeCounter {
			height:100px;
			width:50px;
			top:175px;
			left:75px;
			border-top-right-radius: 40px;
			background: white;
			position: absolute;
		}

		.sSpine1 {
			height: 150px;
			width: 100px;
			border-radius: 100px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			background: black;
			position: absolute;
			top: 25px;
			left: 25px;
		}

		.sSpine2 {
			height: 150px;
			width: 100px;
			border-radius: 80px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			top: 123px;
			left: 75px;
			background: black;
			position: absolute;

		}

		.sCounter1 {
			height: 55px;
			width: 100px;
			border-top-left-radius: 100px;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: -30px;
			top:75px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;

		}

		.sCounter2 {
			height: 55px;
			width: 50px;
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;
			top:170px;
			left: 75px;
			background: white;
			z-index: 2;
			position: absolute;
		}

		.tStroke {
			position: absolute;
			height: 250px;
			width: 50px;
			top: 25px;
			left: 75px;
			background: black;

		}

		.tCrossbar {
			position: absolute;
			background: black;
			top: 25px;
			left: 25px;
			height: 50px;
			width: 150px;

		}

		.uStroke {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.uCounter {
			height: 200px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: white;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.wStroke1 {
			height: 250px;
			width: 150px;
			left: 25px;
			top: 25px;
			background: black;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.wCounter1 {
			height: 200px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: white;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.wStroke2 {
			height: 250px;
			width: 150px;
			left: 125px;
			top: 25px;
			background: black;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.wCounter2 {
			height: 200px;
			width: 50px;
			left: 175px;
			top: 25px;
			background:white;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.vStroke1 {
			height: 250px;
			width: 50px;
			left: 50px;
			top: 25px;
			background: black;
			position: absolute;
			transform: skew(10deg);

		}

		.vStroke2 {
			height: 250px;
			width: 50px;
			left: 100px;
			top: 25px;
			background: black;
			position: absolute;
			transform: skew(-10deg);

		}

		.xStroke1 {
			height: 250px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: black;
			position: absolute;
			transform: skew(20deg);

		}

		.xStroke2 {
			height: 250px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: black;
			position: absolute;
			transform: skew(-20deg);
		}

		.yBowl {
			height: 150px;
			width: 150px;
			border-radius: 100px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			background: black;
			position: absolute;
			top: 25px;
			left: 25px;
		}

		.yStem {
			position: absolute;
			height: 150px;
			width: 50px;
			background: black;
			top: 125px;
			left: 75px;
		}

		.yCounter {
			height: 100px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: white;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
			position: absolute;
		}

		.zBar1 {
			height: 50px;
			width: 130px;
			top: 25px;
			left: 25px;
			position: absolute;
			background: black;

		}

		.zBar2 {
			height: 50px;
			width: 130px;
			top: 225px;
			left: 50px;
			position: absolute;
			background: black;

		}

		.zDiagonal {
			height: 250px;
			width: 50px;
			left: 75px;
			top: 25px;
			background: black;
			position: absolute;
			transform: skew(-25deg);
		}