body {
	font-family: 'Fredoka One', cursive;
}

.act{
  overflow: auto;
  white-space: nowrap;
}

.act#one {
background-color: #333;
}

.act a, h2 {
display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.act a:hover {
  background-color: #777;
}

.act::-webkit-scrollbar {
  display: none;
}