#notRecipe {
	bottom: 25px;
	right: 180px;
}

h1 {
	font-size: 30pt;
}
 

body {
	font-family: 'Kanit', sans-serif;
	background-image: url(../images/food-2879265_1280.jpg);
	background-repeat: no-repeat;
	
}

#container {
	position: relative;
	margin:0px;
	padding:0px;
	vertical-align: top;
}

#title {
	position: absolute;
	top: 10px;
	left:150px;
} 

#recipe {
	position:absolute;
	width: 480px;
	font-weight: 400;
	font-size: 12pt;
	top: 100px;
	left:200px;
	background:white;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	cursor: grab;
}

#paragraph {
	position: absolute;
	bottom: 100px;
	left: 300px;
	width: 650px;
}

p {
	font-size:14pt;
}